[submodule "3rd/etc2comp"]
	path = 3rd/etc2comp
	url = git@github.com:sutingwei/etc2comp.git
	branch = master
[submodule "3rd/astc-encoder"]
	path = 3rd/astc-encoder
	url = git@github.com:sutingwei/astc-encoder.git
	branch = main
[submodule "3rd/bx"]
	path = 3rd/bx
	url = git@github.com:sutingwei/bx.git
